<% if status.present? %>
  <section id="main-status">
    <div class="d-flex flex-items-center">
      <span class="status-<%= status.level %> mr-3"><%= octicon "primitive-dot", height: "48" %></span>
      <h1><%= status.message %></h1>
    </div>
    <div class="main-status-timestamp">
      <span class="d-inline-block text-gray text-small tooltipped tooltipped-s" aria-label="<%= status.created_at %>">
        Last updated <%= time_ago_in_words(status.created_at) %> ago
      </span>
    </div>
  </section>
<% else %>
  <section id="main-status">
    <div class="d-flex flex-items-center">
      <span class="status-yellow mr-3"><%= octicon "primitive-dot", height: "48" %></span>
      <h1>Current status unknown.</h1>
    </div>
  </section>
<% end %>
