<%graphql
  fragment Status on Status {
    level
    message
    createdAt
  }
%>
<%
  status = Views::Statuses::Status::Status.new(status)
  level = status.level.downcase
%>
<div class="status-box bg-white mb-3 p-3 box-shadow-medium">
  <div class="d-flex flex-items-center">
    <span class="status-<%= level %> mr-2"><%= octicon "primitive-dot", height: "24" %></span>
    <h3><%= status.message %></h3>
  </div>
  <span class="d-inline-block mt-3 text-gray text-small tooltipped tooltipped-s" aria-label="<%= status.created_at %>">
    <%= status.created_at.in_time_zone.strftime("%B %d, %Y - %-I:%M %p %Z") %>
  </span>
</div>
