<%graphql
  fragment Status on Status {
    level
    message
    createdAt
  }
%>
<% status = Views::Statuses::Status::Status.new(status) %>
<div class="Box mb-2 p-3 clearfix">
  <h3 class="clearfix">
    <% if status.level == "GREEN" %>
      <span class="status-green mr-2 float-left"><%= octicon "check", height: "24" %></span>
    <% elsif status.level == "YELLOW" %>
      <span class="status-yellow mr-2 float-left"><%= octicon "alert", height: "24" %></span>
    <% else %>
      <span class="status-red mr-2 float-left"><%= octicon "stop", height: "24" %></span>
    <% end %>
    <%= status.message %>
  </h3>
  <span class="d-inline-block mt-3 text-gray text-small tooltipped tooltipped-s" aria-label="<%= status.created_at %>">
    <%= DateTime.parse(status.created_at).in_time_zone.strftime("%B %d, %Y - %-I:%M %p %Z") %>
  </span>
</div>
